@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 24px !important;
}


.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animate-gradient-x {
  animation: gradient-x 15s linear infinite;
}

.bg-size-200 {
  background-size: 200% 200%;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.delay-700 {
  animation-delay: 700ms;
}

.swiper-slide {
  transition: transform 300ms;
  transform-origin: center center;
}

.swiper-slide-active {
  z-index: 2;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
}

@keyframes smoke {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px) scale(1.2);
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(-40px) scale(1.6);
    opacity: 0;
  }
}

.smoke-particle {
  animation: smoke 2s ease-out infinite;
  transform-origin: center center;
}

/* Animações existentes que você já deve ter */
.typing-animation {
  animation: typing 1s ease-in-out infinite;
}

.frustrated-animation {
  animation: frustrated 0.5s ease-in-out infinite;
}

@keyframes typing {
  0%, 100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-5px) translateX(-50%);
  }
}

@keyframes frustrated {
  0%, 100% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(-5deg);
  }
  75% {
    transform: translateX(-50%) rotate(5deg);
  }
}


@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

.typing-code {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}

.code-text {
  color: #CE9178;  
}

html {
  scroll-behavior: smooth;
}

